
body{
font-family:Arial;
margin:0;
background:#f2f2f2;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#222;
color:white;
padding:15px;
}

.searchContainer{
position:relative;
width:95%;
margin:10px auto;
}

.searchContainer input{
width:100%;
padding:12px 12px 12px 40px;
border-radius:10px;
border:1px solid #ccc;
}

.searchIcon{
position:absolute;
left:12px;
top:50%;
transform:translateY(-50%);
}

ul{
list-style:none;
padding:10px;
}

li{
background:white;
padding:14px;
margin-bottom:10px;
border-radius:8px;
cursor:pointer;
}

.modal{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:20px;
border-radius:10px;
width:90%;
max-width:400px;
}

.hidden{
display:none;
}

.tabs{
display:flex;
gap:10px;
margin:10px;
}

.tab{
background:white;
padding:10px;
margin:10px;
border-radius:8px;
}

.diagramBlock{
margin:10px;
padding:10px;
background:white;
border-radius:8px;
}

.checkboxGrid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:6px;
}
